<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link href="./static/style.css" rel="stylesheet"></head>

  <body>
    <div class="toast-container">
      <div class="image">
        <img src="./static/assets/images/cover.png" alt="" />
      </div>

      <div class="text-content">
        <h3>
Thanks for contacting IT Tech. We will give you a feedback soon          click <a href="#">here</a> to know more.
        </h3>
        <p class="author-name">James ThankGod</p>
      </div>

      <div class="close">
        <img src="./static/assets/images/close-icon.png" alt="" />
      </div>
    </div>

    <script type="text/javascript" src="./static/main.js"></script></body>
  
</html>
